In [15]:
# REMOVE the DUPLICATE elements in an array
# Looping and membership

import numpy as np
x=np.array([10,20,30,40,50,10,0,30,100])
def r_dup(x):
    new_arr=[]
    for i in x:
        if i not in new_arr:
            new_arr.append(i)
        return new_arr
result=r_dup(x)
type(result)
print(result)

[10]

In [17]:
# Removing using TYPE CONVERSION 
import numpy as np
x=np.array([10,20,30,40,50,10,0,30,100])
def r_dup(x):
    res=list(set(x)) # TYPE CONVERSION
    return np.array(res)
result=r_dup(x)
type(result)
print(result)

[  0 100  40  10  50  20  30]